body {
    background-image: url('https://images.pexels.com/photos/4173624/pexels-photo-4173624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
h2 {
    margin: 10px auto;
    color: #ebf0af;
}
span {
    color: #5dedf5;
}
table, th, td {
    border: 1px groove #210275;
    padding: 10px;
    color: white;
    background-image: url('https://images.pexels.com/photos/4173624/pexels-photo-4173624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
.container-1 {
    border: 2px solid blue;
    margin: 30px auto;
    width: 75%;
    text-align: center;
    background-color: #395e5e;
    box-shadow: 18px 24px 28px 0px rgba(89,82,52,1);
}
.flex-box-container-1, .flex-box-rps, .flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    color: #e0d53d;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #395e5e;
    justify-content: space-around;
}
.flex-blackjack-row-1 {
    background: url('https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1068.jpg');
}
.flex-blackjack-row-1 div{
    height: 450px;
    flex: 1;
}
/*.flex-blackjack-row-2 button{
    padding:10px;
}*/
.flex-box-container-1 div {
    display: flex;
    padding: 20px;
    align-items: center;
}
.container-2 {
    border: 3px solid red;
    width: 75%;
    margin: 35px auto;
    text-align: center;
    background-color: #612557;
    box-shadow: 18px 24px 28px 0px rgba(89,82,52,1);
}
.flex-box-container-2, .flex-box-pick-color {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #612557;
    justify-content: space-around;
}
    .flex-box-container-2 img, .flex-blackjack-row-1 img {
        margin: 10px;
        box-shadow: 1px 20px 50px rgba(240, 46, 170, 0.7);
    }
.flex-box-rps img:hover {
    box-shadow: 1px 1px 15px 16px rgba(182,201,38,0.75);
}
